<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Email</title>
</head>
<body>
    <div style="width: 640px; height: 1009px; position: relative; background: #121A26">
        <div
            style="left: 48px; top: 137px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div
                style="width: 544px; height: 115px; position: relative; background: rgba(93, 90, 255, 0.87); border-top-left-radius: 8px; border-top-right-radius: 8px; overflow: hidden">
                <div style="width: 180px; height: 67px; left: -49px; top: 58px; position: absolute; background: white">
                </div>
                <div style="width: 118px; height: 44px; left: 431px; top: 15px; position: absolute; background: white">
                </div>
                <div
                    style="left: 147px; top: 28px; position: absolute; color: white; font-size: 48px; font-family: Montserrat; font-weight: 800; word-wrap: break-word">
                    خوش آمدید</div>
            </div>
            <div
                style="padding: 40px; background: #1F2B3C; border-top-left-radius: 8px; border-top-right-radius: 8px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                <div
                    style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
                    <div
                        style="text-align: right; color: white; font-size: 24px; font-family: Montserrat; font-weight: 800; line-height: 36px; word-wrap: break-word">
                        عزیز <%= username %> </div>
                </div>
                <div
                    style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
                    <div
                        style="width: 464px; text-align: right; color: white; font-size: 10px; font-family: Montserrat; font-weight: 800; line-height: 15px; word-wrap: break-word">
                        سپاس از اعتماد شما به ویکسل برای نیازهای طراحی وبسایت تان! ما خوشحالیم که این فرصت را داریم که
                        نیاز شما را بر طرف کنیم. سفارش شما با موفقیت دریافت شد و ما اکنون قرار است با هم این سفر هیجان
                        انگیز را آغاز کنیم.<br />سفارش شما در تاریخ ۱۴۰۲/۱۲/۷, ۱۵:۱۹ با موفقیت ثبت شده است و جزئیات
                        سفارش شما بدین شرح است:<br />توضیح شما درباره نیازتان: سایت شرکتی برای بهبود اراعه
                        خدمات<br />تعرفه انتخابی: شرکتی<br />در اینجا مروری مختصر از آنچه در روزهای آینده انتظار داریم
                        آورده شده است<br />در این مرحله اولیه، تیم ویکسل در طول 24 ساعت آینده با شما تماس خواهد گرفت تا
                        مراحل اولیه پروژه و جزئیات سفارش را بررسی و با شما به اشتراک بگذارد. همچنین، جلسات مشاوره طراحی
                        برنامه‌ریزی شده‌اند تا اطمینان حاصل شود که نیازها و سلیقه شما به درستی درک شوند. شما در این
                        مراحل می‌توانید ایده‌ها، طرح‌ها، و خواسته‌های خود را با ما به اشتراک بگذارید.<br /></div>
                </div>
                <div
                    style="width: 159px; height: 41px; padding-top: 20px; padding-bottom: 20px; padding-left: 16px; padding-right: 30px; background: #5D5AFF; box-shadow: 0px 4px 14px rgba(78, 74, 255, 0.35); border-radius: 17px; justify-content: space-between; align-items: center; display: inline-flex">
                    <div style="width: 14px; height: 14px; position: relative">
                        <div style="width: 14px; height: 14px; left: 0px; top: 0px; position: absolute"></div>
                        <div
                            style="width: 3.79px; height: 7.58px; left: 4.52px; top: 3.21px; position: absolute; border: 2.10px white solid">
                        </div>
                    </div>
                    <div
                        style="color: white; font-size: 16px; font-family: IRANYekanXVFaNum; font-weight: 500; word-wrap: break-word">
                        ثبت سفارش</div>
                </div>
            </div>
        </div>
        <div
            style="width: 544px; height: 115px; padding-left: 167px; padding-right: 187.82px; left: 48px; top: 768px; position: absolute; background: rgba(93, 90, 255, 0.87); border-radius: 8px; overflow: hidden; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="width: 189.18px; height: 31.79px; position: relative">
                <div
                    style="width: 33.38px; height: 31.79px; left: 0px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
                    <img style="width: 33.38px; height: 31.79px" src="https://via.placeholder.com/33x32" />
                </div>
                <div
                    style="width: 31.79px; height: 31.79px; left: 52.46px; top: -0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 31.79px; height: 31.79px; position: relative">
                        <img style="width: 31.79px; height: 31.79px; left: 0px; top: 0px; position: absolute"
                            src="https://via.placeholder.com/32x32" />
                        <img style="width: 13.90px; height: 13.90px; left: 8.95px; top: 8.94px; position: absolute"
                            src="https://via.placeholder.com/14x14" />
                        <div
                            style="width: 5.65px; height: 5.65px; left: 13.07px; top: 13.07px; position: absolute; background: white">
                        </div>
                    </div>
                </div>
                <div
                    style="width: 33.38px; height: 31.79px; left: 155.79px; top: -0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
                    <img style="width: 33.38px; height: 31.79px" src="https://via.placeholder.com/33x32" />
                </div>
                <div
                    style="width: 31.79px; height: 31.79px; left: 106.51px; top: -0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
                    <img style="width: 31.79px; height: 31.79px" src="https://via.placeholder.com/32x32" />
                </div>
            </div>
        </div>
        <div
            style="left: 160px; top: 699px; position: absolute; color: white; font-size: 10px; font-family: Montserrat; font-weight: 800; word-wrap: break-word">
            در صورت داشتن هر گونه سوال یا درخواست، میتوانید با ما از طریق راه‌های ارتباطی زیر تماس بگیرید:<br /></div>
        <div
            style="height: 109px; padding-left: 48px; padding-right: 48px; padding-top: 40px; padding-bottom: 40px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
        </div>
        <div style="width: 233px; left: 203px; top: 18px; position: absolute">
            <div style="width: 73.95px; height: 68px; left: 159.05px; top: 0px; position: absolute">
                <div
                    style="width: 35.89px; height: 33px; left: 38.06px; top: 35px; position: absolute; background: #5D5AFF; border-top-left-radius: 212.87px; border-top-right-radius: 212.87px; border-bottom-right-radius: 212.87px">
                </div>
                <div
                    style="width: 35.89px; height: 33px; left: -0px; top: 35px; position: absolute; background: #5D5AFF; border-top-left-radius: 212.87px; border-top-right-radius: 212.87px; border-bottom-right-radius: 212.87px">
                </div>
                <div
                    style="width: 35.89px; height: 33px; left: 38.06px; top: 0px; position: absolute; background: #5D5AFF; border-top-left-radius: 212.87px; border-top-right-radius: 212.87px; border-bottom-right-radius: 212.87px">
                </div>
                <div
                    style="width: 31.54px; height: 29px; left: 4.35px; top: 4px; position: absolute; background: #5D5AFF; border-top-left-radius: 212.87px; border-top-right-radius: 212.87px; border-bottom-right-radius: 212.87px">
                </div>
            </div>
            <div style="width: 141.17px; height: 51.68px; left: 0px; top: 16.32px; position: absolute">
                <div style="width: 141.17px; height: 51.46px; left: 0px; top: 0px; position: absolute">
                    <div
                        style="width: 21.39px; height: 37.97px; left: 119.78px; top: 13.49px; position: absolute; background: #FAFAFA">
                    </div>
                    <div
                        style="width: 12.71px; height: 24.71px; left: 105.44px; top: 14.91px; position: absolute; transform: rotate(-1.25deg); transform-origin: 0 0; background: #FAFAFA">
                    </div>
                    <div
                        style="width: 23.11px; height: 39.61px; left: 82.57px; top: 0.50px; position: absolute; transform: rotate(-1.25deg); transform-origin: 0 0; background: #FAFAFA">
                    </div>
                    <div
                        style="width: 50.04px; height: 24.30px; left: 33.33px; top: 17.06px; position: absolute; transform: rotate(-1.25deg); transform-origin: 0 0; background: #FAFAFA">
                    </div>
                    <div
                        style="width: 33.61px; height: 46.33px; left: 0px; top: 3.35px; position: absolute; transform: rotate(-1.26deg); transform-origin: 0 0; background: #FAFAFA">
                    </div>
                </div>
                <div
                    style="width: 20.79px; height: 6.74px; left: 100.97px; top: 44.94px; position: absolute; background: #5D5AFF; box-shadow: 0px 21.230083465576172px 21.230083465576172px rgba(93, 90, 255, 0.27)">
                </div>
            </div>
        </div>
    </div>

</body>

</html>