@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jomhuria&family=Mirza:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Jomhuria&family=Mirza:wght@400;500;600;700&family=Noto+Kufi+Arabic:wght@100..900&family=Noto+Sans+Arabic:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.button {
  position: relative;
}
.button__content {
  height: 75px;
  position: relative;
  background-color: hsl(260, 16%, 8%);
  padding: 0.3rem 115px;
  margin-right: -25px;
  border-radius: 4rem;
  font-weight: 600;
  overflow: hidden;
  box-shadow: 0px 0px 30px #1d1d1d;
}
.button__text {
  position: relative;
  font-size: 20px;
  z-index: 10;
}
.button__content div {
  width: 184px;
  height: 44px;
  border-radius: 50%;
  position: absolute;
  inset: 0;
  margin: auto;
  filter: blur(12px);
}
.button__shape-1 {
  background-color: hsl(249, 36%, 30%);
  transform: translate(-48px, -16px);
  animation: shape-1 5s 1s ease-out infinite;
}
.button__shape-2 {
  background-color: hsl(238, 34%, 45%);
  transform: translate(-12px, 16px);
  animation: shape-2 4s ease-in infinite;
}
.button__shape-3 {
  background-color: hsl(240, 54%, 12%);
  transform: translate(20px, -16px);
  animation: shape-3 4s ease-out infinite;
}
.button__shape-4 {
  background-color: hsl(231, 37%, 35%);
  transform: translate(48px, 16px);
  animation: shape-4 5s 1s ease-in infinite;
}

@keyframes shape-1 {
  33% {
    transform: translate(-28px, 0);
  }
}
@keyframes shape-2 {
  33% {
    transform: translate(-28px, 28px);
  }
}
@keyframes shape-3 {
  33% {
    transform: translate(20px, 4px);
  }
}
@keyframes shape-4 {
  33% {
    transform: translate(48px, 0);
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.text-gradient {
  background: linear-gradient(
    90deg,
    rgb(186, 185, 185),
    #747373,
    #7d7d7d,
    #606060,
    #ffffff,
    #787878,
    #878787,
    #808080,
    rgb(136, 136, 136)
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 10s  linear infinite;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-optical-sizing: auto;
}

.bboard {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  color: hsl(240, 54%, 12%);
}


section {
  max-width: 1440px;
  margin: 50px auto;
  padding: 20px 10px;
}


@keyframes fadeInUp {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(-20px);
  }
  25% {
    display:  block;
    opacity: 0.25;
    transform: translateY(-15px);
  }
  50% {
    display: block;
    opacity: 0.5;
    transform: translateY(-10px);
  }
  75%{
    display: block;
    opacity: 0.75;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.button-animation {
  animation: fadeInUp 0.9s ease-out 0.68s  forwards;
}
.button-animation2 {
  animation: fadeInUp 0.9s ease-out 0.6s  forwards;
}

.text-animation {
  animation: fadeInUp 0.9s ease-out 0.4s forwards;
}
.text-animation2 {
  animation: fadeInUp 0.9s ease-out 0.6s forwards;
  
}

.text-animation.delay-1 {
  animation-delay: 0.5s;
}

.div-animation {
  animation: fadeInUp 0.6s ease-out 0.6s forwards;
}

.div-animation.delay-2 {
  animation-delay: 0.6s;
}